<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>return</title>
</head>
<body>
    <span id="text">登录失败，5秒后返回登录页面...</span>
    <script type="text/javascript">
        let dom = document.getElementById('text')
        let time = 5
        let interval = setInterval (_ => {
            if (!time) {
                clearInterval(interval)
                window.location.href = 'http://127.0.0.1:8000/login'
            }
            dom.innerHTML = `登录失败，${time}秒后返回登录页面...`
            --time
        }, 1000)
    </script>
</body>
</html>
